### 1. Решить задачу регрессии для набора  
#### x = [0, 1, 2, 3], y = [4, 7, 7, 8]

Вручную (на основе математического анализа с помощью numpy) и с помощью scikit-learn.  
Сравнить полученные коэффициенты.

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
x = np.array([0, 1, 2, 3])
y = np.array([4, 7, 7, 8])

In [3]:
class Linear_regression():
    
    """парная линейная регрессия, основана на методе наименьших квадратов"""
    
    def __init__(self, x, y):
        self.x = x
        self.y = y
        self.a = 0
        self.b = 0
        
    def learn(self):
        self.b = np.corrcoef(self.x, self.y)[0, 1] * (np.std(self.y) / np.std(self.x))
        self.a = np.mean(self.y) - self.b * np.mean(self.x)
        
    def prediction(self, x_):
        return self.a + self.b * x_
    
    def r_2(self):
        result = 0
        for i in range(len(x_)):
            result += self.b[i] * (np.sum(np.dot(self.x[i] - self.x[i].mean(), self.y - self.y.mean()) ) )
        den = np.sum( np.power(self.y - self.y.mean(), 2) )
        return result / den

Парная линейная регрессия: $y = \alpha + \beta x$

In [4]:
regr_by_hand = Linear_regression(x, y)
regr_by_hand.learn()
print(f'Коэффициенты \n\na - {regr_by_hand.a}\nb - {regr_by_hand.b}')

Коэффициенты

a - 4.699999999999999
b - 1.2000000000000002

теперь воспользуемся sklearn

In [5]:
x = x.reshape((-1, 1))

model = LinearRegression().fit(x, y)
print(f'Коэффициенты \n\na - {model.intercept_}\nb - {model.coef_[0]}')

Коэффициенты

a - 4.699999999999999
b - 1.2000000000000004

Коэффициенты мы получили одни и те же (не учитывая технической особенности компилятора)   
  
Попробуем предсказать. Допустим, для $x = 5$

In [6]:
print(regr_by_hand.prediction(5), '(my own function)')

10.7 (my own function)

In [7]:
y_pred = model.predict([[5]])
print(y_pred[0], '(sklearn)')

10.700000000000001 (sklearn)

Результат получили один и тот же (опять же, не учитывая технической особенности компилятора)

### 2. Рассмотреть задачу прогнозирование цен на примере набора данных Houses.csv:
    - какие признаки наиболее всего влияют, по Вашему мнению, на цену?
    - возможно ли уменьшить количество признаков?
    - есть ли пропуски в данных?
    - можно ли обойтись одним параметром? выберите один и решите задачу.
    - оставьте несколько параметров и решите задачу многомерной регрессии.

In [8]:
df = pd.read_csv('Houses.csv', index_col=0)
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062

In [9]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

&#x265E; ***какие признаки наиболее всего влияют, по Вашему мнению, на цену?***   
&#x265E; ***возможно ли уменьшить количество признаков?***

По поводу влияющих признаков, я бы не доверяла так себе, а провела бы необходимые тесты, дабы определить такоовы:) В таких вещах полагаюсь на статистику, а она выражена в цифрах. И исходя из результатов, определить и наиболее и наименее значащие факторы.
  
Тем не менее. Дата в том виде (по крайней мере,в том виде, в каком она сюда включена), не несет никакой ценности, id тоже. Так же, как и дату, мы можем оценить долготу, широту и почтовый индекс.   
   
Из наиболее значимых можно выделить количество комнат _(bedrooms)_ и квадратура _(sqft_living)_. Все остальные признаки я бы опустила на ступеньку ниже, а то и несколько ниже. Второстепенные.  
  
Конечно, хотелось бы описание каждого признака. Пока не понятно, например, что такое _sqft_lot_ и _sqft_above_, а также чем _sqft_living_ и _sqft_lot_ отличаются от _sqft_living15_ и _sqft_lot15_

In [10]:
df.drop(columns=['id', 'date', 'zipcode', 'lat', 'long'], inplace=True)
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503

&#x265E; ***есть ли пропуски в данных?***

Все на месте. Это хорошо

&#x25BC; &#x25BC; &#x25BC; &#x25BC; &#x25BC; &#x25BC; &#x25BC; &#x25BC; &#x25BC;

In [11]:
df.isna().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
sqft_living15    0
sqft_lot15       0
dtype: int64

&#x265E; ***можно ли обойтись одним параметром? выберите один и решите задачу***
   
   
   
Только если мы хотим на выходе получать о-о-очень приближенный результат. В современных реалиях, этого будет мало.  
Я выберу квадратуру (_sqft_living_)

In [12]:
x = df.sqft_living
y = df.price

In [13]:
# функция, написанная ручками
regr_by_hand = Linear_regression(x, y)
regr_by_hand.learn()
print(f'y = {np.round(regr_by_hand.a, decimals = 2)} + {np.round(regr_by_hand.b, decimals = 2)}x \n')
print(f'200кв.м. => {np.round(regr_by_hand.prediction(200), decimals = 2)}')
print(f'700кв.м. => {np.round(regr_by_hand.prediction(700), decimals = 2)}')

y = -43580.74 + 280.62x

200кв.м. => 12543.97
700кв.м. => 152855.75

In [14]:
# sklearn.linear_model
x = (x.to_numpy()).reshape((-1, 1))

In [15]:
model = LinearRegression().fit(x, y)
print(f'y = {np.round(model.intercept_, decimals = 2)} + {np.round(model.coef_[0], decimals = 2)}x \n')

print(f'200кв.м. => {np.round(model.predict([[200]])[0], decimals = 2)}')
print(f'700кв.м. => {np.round(model.predict([[700]])[0], decimals = 2)}')

y = -43580.74 + 280.62x

200кв.м. => 12543.97
700кв.м. => 152855.75

&#x265E; ***оставьте несколько параметров и решите задачу многомерной регрессии.***

оставлю следующие факторы - _bedrooms, sqft_living, condition, grade_

In [16]:
df = df[['price', 'bedrooms', 'sqft_living', 'condition', 'grade']]
df.head(3)

      price  bedrooms  sqft_living  condition  grade
0  221900.0         3         1180          3      7
1  538000.0         3         2570          3      7
2  180000.0         2          770          3      6

In [17]:
x = df[['bedrooms', 'sqft_living', 'condition', 'grade']].to_numpy()
y = df.price

In [18]:
class Multi_linear_regression():
    
    """множественная линейная регрессия, основана на методе наименьших квадратов"""
    
    def __init__(self, x, y):
        self.x = x
        self.y = y
        self.b = 0
        
    def learn(self):
        v_ones = np.ones((len(self.x[:,1]), 1))
        x = np.c_[v_ones, self.x]
        x_t_x_1 = np.linalg.inv(np.dot(x.transpose(), x))
        x_t_y = np.dot(x.transpose(), self.y)
        result = np.dot(x_t_x_1, x_t_y)
        self.a = result[0]
        self.b = result[1:]

    def prediction(self, x_):
        result = 0
        for i in range(len(x_)):
            result += x_[i] * self.b[i]
        return self.a + result
    
        
    def r_2(self):
        result = self.b * (np.sum(np.dot(self.x[i] - self.x[i].mean(), self.y - self.y.mean()) ) )
        den = np.sum( np.power(self.y - self.y.mean(), 2) )
        return result / den

In [19]:
# by hand
regr_by_hand = Multi_linear_regression(x, y)
regr_by_hand.learn()
regr_by_hand.prediction([3, 1200, 3, 7])

277361.95287043427

In [20]:
# scikit-learning
model = LinearRegression().fit(x, y)
model.predict([[3, 1200, 3, 7]])[0]

277361.9528704019